<%= link_to "My Adds", {controller: 'users', action: 'show'}%><br>
<%= link_to "My Likes", {controller: 'users', action: 'show_likes'}%>

<div><%= image_tag @user.liked_photos.first.image.url(:original), class: "most_recent_like" %></div>

<ul class="photo-grid">
    <% @likes.each do |like| %>
        <li>
            <%#= photo.filename %>
            <%= link_to photo_path(like.photo_id) do %> <!-- opening for you a tag -->
                <%= image_tag like.photo.image.url(:medium) %>
            <% end %> <!-- close of a tag -->
        </li>
    <% end %>
</ul>