<ul class="photo-grid">
    <% @photos.each do |photo| %>
      <li>
        </div>
            <%#= photo.filename %>
            <%= link_to photo_path(photo) do %>
                <%= image_tag photo.image.url(:medium) %>
                <div>
                    <% if !current_user %>
                        <%= link_to "Like", {:controller => 'auths', :action => 'new'}, data-reveal-id: "loginModal" %>
                    <% else %>
                        <%= link_to "Like", like_photo_path(photo), class: "add" %>
                    <% end %>
                </div>
            <% end %>
        </div>
      </li>
    <% end %>
</ul>

<div id="loginModal" class="reveal-modal" data-reveal>
  <%= render :partial =>'loginform', :controller => 'auths', :action => 'new' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div class="back-link">
    <%= link_to "Back", photos_path %>
</div>