<!DOCTYPE html>
<html>
  <head>
    <title>Grappple</title>
   
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   
   <script type="text/javascript">
    $(function() {
    // OPACITY OF BUTTON SET TO 0%
    $(".roll").css("opacity","0");
     
    // ON MOUSE OVER
    $(".roll").hover(function () {
     
    // SET OPACITY TO 70%
    $(this).stop().animate({
    opacity: .7
    }, "slow");
    },
     
    // ON MOUSE OUT
    function () {
     
    // SET OPACITY BACK TO 50%
    $(this).stop().animate({
    opacity: 0
    }, "slow");
    });
    });
   </script>

  </head>


<body>
  <div id="ouroverlay">
     <br>
  <% @colors.each do |color| %>
    <%= link_to c_search_path(color: color) do %>
      <div style="background-color: #<%= color %>;" class="box"></div>
    <% end %>
  <% end %><br> 
        <textarea id="searchtext" input type="text" name="searchword"></textarea>
  </div>
<!--       <div id="content">THIS IS MY CONTENT
 -->

    <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="<%= root_path %>"><span id="title">Grappple</span></a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
       <a onclick="alert('To install the Snag It button, drag it to your bookmarks toolbar!');return false;" href="javascript:void((function(d){var%20e=d.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://grappple.herokuapp.com/javascripts/snagger.js?r='+Math.random()*99999999);d.body.appendChild(e)})(document));" class="button">Snap It</a> 

      <ul class="right">
        <li class="has-dropdown">
          <% if current_user %>
            <a href="<%= photos_path %>", class="dashboard">Hello, <%= current_user.email == nil ? current_user.email : current_user.email%></a>
            <ul class="dropdown">
              <li> <%= link_to "Log Out", {:controller => 'auths', :action => 'destroy'}, {:method => :delete}  %> </li>
              <li> <%= link_to "My Profile", user_path(current_user) %> </li>   
            </ul>
        </li>
        <% else %>
          <ul class="right">
            <li data-reveal-id="loginModal"><%= link_to "Log In", {:controller => 'auths', :action => 'new'} %></li>
            <li data-reveal-id="signupModal"><%= link_to "Sign Up", {:controller => 'users', :action => 'new'} %></li>
          </ul>
        <% end %>
        </ul>
      </section>
    </nav>
    
    <%= javascript_include_tag "application" %>
    <%= yield %>
    
  </body>
 

<div id="loginModal" class="reveal-modal" data-reveal>
  <%= render :partial =>'loginform', :controller => 'auths', :action => 'new' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="signupModal" class="reveal-modal" data-reveal>
  <%= render :partial =>'signupform', :controller => 'users', :action => 'new' %>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div class="wegotthis">Color Search</div>




  <!-- PHOTO GRID CONTAINER -->
  <div class="main row">
    <div class="large-12 column no-pad"> 
      <div class="giftwrapper small-12 column no-pad"> 
        <div>
          <% @photos.each do |photo| %>
            <div class="gif-box large-2 medium-3 small-4 columns no-pad"
                  style="background-image: url(<%= photo.image.url(:medium) %>)"
                  >
            <span class="roll" ></span>
            </div>
          <% end %>
<!--           <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div> 
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>
          <div class="gif-box large-2 medium-3 small-4 columns"
                style="background-image: url('/assets/ca_dog_home.jpg')"
                >
          </div>  -->                                                           
        </div>  
      </div>
    </div>
  </div>


<!-- </div>
 -->



<script>
$(document).ready(function () {

  $(".box").on("mouseenter", function () {
    $(this).css('box-shadow', "0 0 25px white");
    $(this).css('z-index', "100000");
  });

  $(".box").on("mouseleave", function () {
    $(this).css('box-shadow', "none");
    $(this).css('z-index', "1");
  });
    $('textarea').focus();

  $('#ouroverlay').hide();
  // $('#content').css('opacity', 1);
  $('.wegotthis').on('click', function (){
    $('#ouroverlay').fadeIn('slow', function(){
        $('#ouroverlay').css('opacity', 1);
            $('#ouroverlay').css('z-index', "500000");

        $('textarea').focus();
    });
  });

  $('body').on('keypress', function(){
    $('#ouroverlay').fadeOut('slow');
    $('body').css('opacity', 1);
  });

});
</script>
