<!DOCTYPE html>
<html>
  <head>
    <title>Grappple</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>


<body>
  
  <!-- COLOR SEARCH PALETTE -->
  <div id="color-palette" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <div class="overlay">
        <% @colors.each do |color| %>
          <%= link_to c_search_path(color: color) do %>
            <div style="background-color: #<%= color %>;" class="box"></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- LOGIN AND SIGNUP MODALS -->
  <div id="loginModal" class="reveal-modal" data-reveal>
    <%= render :partial =>'loginform', :controller => 'auths', :action => 'new' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="signupModal" class="reveal-modal" data-reveal>
    <%= render :partial =>'signupform', :controller => 'users', :action => 'new' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>




  <!-- PHOTO GRID CONTAINER -->
  <div class="main row">
    <div class="large-12 column no-pad"> 
      <div class="giftwrapper small-12 column no-pad"> 
        <div>
          <% @photos.each do |photo| %>
            <div class="gif-box large-2 medium-3 small-4 columns no-pad"
                  style="background-image: url(<%= photo.image.url(:medium) %>)"
                  >
            <span class="roll" ></span>
            </div>
          <% end %>                                                         
        </div>  
      </div>
    </div>
  </div>

</body>