<!DOCTYPE html>
<html>
  <head>
    <title>Grappple</title>
   
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   

  </head>


<body>
    <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="<%= root_path %>"><span id="title">Grappple</span></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
       <a onclick="alert('To install the Snag It button, drag it to your bookmarks toolbar!');return false;" href="javascript:void((function(d){var%20e=d.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://grappple.herokuapp.com/javascripts/snagger.js?r='+Math.random()*99999999);d.body.appendChild(e)})(document));" class="button">Snap It</a> 

      <ul class="right">
        <li class="has-dropdown">
          <% if current_user %>
            <a href="<%= photos_path %>", class="dashboard">Hello, <%= current_user.email == nil ? current_user.email : current_user.email%></a>
            <ul class="dropdown">
              <li> <%= link_to "Log Out", {:controller => 'auths', :action => 'destroy'}, {:method => :delete}  %> </li>
              <li> <%= link_to "My Profile", user_path(current_user) %> </li>   
            </ul>
        </li>
        <% else %>
          <ul class="right">
            <li data-reveal-id="loginModal"><%= link_to "Log In", {:controller => 'auths', :action => 'new'} %></li>
            <li data-reveal-id="signupModal"><%= link_to "Sign Up", {:controller => 'users', :action => 'new'} %></li>
          </ul>
        <% end %>
        </ul>
      </section>
    </nav>
    
    <%= javascript_include_tag "application" %>
    <%= yield %>
    
  </body>
  <br>
  <% @colors.each do |color| %>
    <%= link_to c_search_path(color: color) do %>
      <div style="background-color: #<%= color %>;" class="box"></div>
    <% end %>
  <% end %><br> 

<div id="loginModal" class="reveal-modal" data-reveal>
  <%= render :partial =>'loginform', :controller => 'auths', :action => 'new' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="signupModal" class="reveal-modal" data-reveal>
  <%= render :partial =>'signupform', :controller => 'users', :action => 'new' %>
  <a class="close-reveal-modal">&#215;</a>
</div>




<ul class="photo-grid">
    <% @photos.each do |photo| %>
      <li>
        </div>
            <%= link_to photo_path(photo) do %> <!-- opening for you a tag -->
                <%= image_tag photo.image.url(:medium) %>
                <div><%= link_to "<i class='add foundicon-plus'></i>".html_safe, like_photo_path(photo) %></div>
            <% end %> <!-- close of a tag -->
        </div>
      </li>
    <% end %>
</ul>


<script>

$(document).ready(function (){
  $('body').focus();

  $('body').on('click', function () {
    $('body').focus();
  });

  $('body').one('keypress', function () {
    $('#prompt_container').fadeOut('slow');
    $('#info_container').fadeIn('slow');
  });

  // $('textarea').on('keyup', function () {
  //   var text = $('textarea').val();
  //   var size = 130*(Math.pow(Math.pow(1/13, (1/250)), text.length));

  //   $('textarea').css('font-size', size + 'px');
  //   $('#char_count').text('Character Count: ' + text.length)

  //   if (text.length >= 150) {
  //     $('#info_container').css('background-color', '#f2ad00');
  //   } 
  //   if (text.length >= 200) {
  //     $('#info_container').css('background-color', '#ed6700');
  //   } 
  //   if (text.length >= 250) {
  //     $('#info_container').css('background-color', '#ba000d');
  //   } 
  //   if (text.length < 150) {
  //     $('#info_container').css('background-color', '#42863e');
  //   }
  // });
});


$(document).ready(function () {

  $(".box").on("mouseenter", function () {
    $(this).css('box-shadow', "0 0 25px white");
    $(this).css('z-index', "100000");
  });

  $(".box").on("mouseleave", function () {
    $(this).css('box-shadow', "none");
    $(this).css('z-index', "1");
  });
});
</script>
