<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Grappple" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "main", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to "Grappple", photos_url %>
        </h1>
      </li>
    </ul>





    <section class="top-bar-section">
      <!-- Right Nav Section -->
       <a onclick="alert('To install the Snag It button, drag it to your bookmarks toolbar!');return false;" href="javascript:void((function(d){var%20e=d.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://grappple.herokuapp.com/javascripts/snagger.js?r='+Math.random()*99999999);d.body.appendChild(e)})(document));" class="button">Snap It</a> 

        <ul class="right">
        <% if current_user %>
          <li><%= link_to "Color Search", "#color-palette" %></li>
          <li class="has-dropdown">
            <a href="<%= photos_path %>", class="dashboard">Hello, <%= current_user.email == nil ? current_user.email : current_user.email%></a>
            <ul class="dropdown">
              <li> <%= link_to "Log Out", {:controller => 'auths', :action => 'destroy'}, {:method => :delete}  %> </li>
              <li> <%= link_to "My Profile", user_path(current_user) %> </li>   
            </ul>
          </li>
      </ul>
        <% else %>
          <ul class="right">
            <li><%= link_to "Color Search", "#color-palette" %></li>
            <li data-reveal-id="loginModal"><%= link_to "Log In", {:controller => 'auths', :action => 'new'} %></li>
            <li data-reveal-id="signupModal"><%= link_to "Sign Up", {:controller => 'users', :action => 'new'} %></li>
          </ul>
        <% end %>
      </section>
    </nav>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>